.about-modules {
  width: 100%;
  position: relative;
  background-image: url("../img/hexagonbgright.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;

  &__about {
    padding-bottom: 100px;
  }

  &__wrapper {
    display: flex;
    max-width: 1630px;
    padding: 80px 30px 100px;
    margin: 0 auto;
    z-index: 10;
  }

  &__text {
    width: 36%;
    padding-right: 70px;
  }

  &__img {
    width: 65%;
    position: relative;

    &-hexagon {
      position: absolute;
      width: 242px;
      height: 280px;
      top: 264px;
      left: 75px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url('../img/hexagonbg.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;

      & > img, & > svg {
        width: 140px !important;
        height: 140px !important;
        max-width: 140px !important;
        max-height: 140px !important;
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    padding: 45px 0;
  }

  &__description {
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 105px;
  }
}

@media screen and (max-width: 1630px) {
  .about-modules {
    &__about {
      padding-bottom: calc(50px + (100 - 50) * ((100vw - 991px) / (1630 - 991)));
    }

    &__wrapper {
      padding: calc(40px + (80 - 40) * ((100vw - 991px) / (1630 - 991))) 30px calc(50px + (100 - 50) * ((100vw - 991px) / (1630 - 991)));
    }

    &__text {
      width: 40%;
      padding-right: calc(15px + (75 - 15) * ((100vw - 991px) / (1630 - 991)));
    }

    &__title {
      font-size: calc(30px + (40 - 30) * ((100vw - 991px) / (1630 - 991)));
      padding: calc(10px + (45 - 10) * ((100vw - 991px) / (1630 - 991))) 0;
    }

    &__description {
      font-size: calc(12px + (14 - 12) * ((100vw - 991px) / (1630 - 991)));
      padding-bottom: calc(30px + (105 - 30) * ((100vw - 991px) / (1630 - 991)));
    }

    &__img {

      &-hexagon {
        width: calc(120px + (242 - 120) * ((100vw - 991px) / (1630 - 991)));
        height: calc(130px + (280 - 130) * ((100vw - 991px) / (1630 - 991)));
        top: calc(165px + (250 - 165) * ((100vw - 991px) / (1630 - 991)));
        left: calc(51px + (60 - 51) * ((100vw - 991px) / (1630 - 991)));

        & > img, & > svg {
          width: calc(60px + (140 - 60) * ((100vw - 991px) / (1630 - 991))) !important;
          height: calc(60px + (140 - 60) * ((100vw - 991px) / (1630 - 991))) !important;
          max-width: calc(60px + (140 - 60) * ((100vw - 991px) / (1630 - 991))) !important;
          max-height: calc(60px + (140 - 60) * ((100vw - 991px) / (1630 - 991))) !important;
        }
      }
    }

  }
}

@media screen and (max-width: 991px) {
  .about-modules {
    &__about {
      padding-bottom: 50px;
    }

    &__wrapper {
      padding: 40px 15px;
    }

    &__text {
      width: 50%;
      padding-right: 15px;
    }

    &__title {
      font-size: 30px;
      padding: 10px 0;
    }

    &__description {
      font-size: 12px;
      padding-bottom: 30px;
    }

    &__img {
      width: 50%;

      &-hexagon {
        width: calc(90px + (120 - 90) * ((100vw - 767px) / (991 - 767)));
        height: calc(100px + (130 - 100) * ((100vw - 767px) / (991 - 767)));
        top: calc(98px + (127 - 98) * ((100vw - 767px) / (991 - 767)));
        left: calc(26px + (33 - 26) * ((100vw - 767px) / (991 - 767)));

        & > img, & > svg {
          width: calc(45px + (60 - 45) * ((100vw - 767px) / (991 - 767))) !important;
          height: calc(45px + (60 - 45) * ((100vw - 767px) / (991 - 767))) !important;
          max-width: calc(45px + (60 - 45) * ((100vw - 767px) / (991 - 767))) !important;
          max-height: calc(45px + (60 - 45) * ((100vw - 767px) / (991 - 767))) !important;
        }
      }
    }

  }
}

@media screen and (max-width: 767px) {
  .about-modules {

    &__about {
      padding-bottom: 30px;
    }

    &__wrapper {
      padding: 30px 15px;
      display: flex;
      flex-wrap: wrap;
    }

    &__text {
      width: 100%;
      padding-right: 0px;
    }

    &__title {
      font-size: 26px;
    }


    &__img {
      width: 100%;

      &-hexagon {
        width: 120px;
        height: 130px;
        top: 0px;
        left: 0px;

        & > img, & > svg {
          width: 70px !important;
          height: 70px !important;
          max-width: 70px !important;
          max-height: 70px !important;
        }
      }

    }
  }
}

@media screen and (max-width: 575px) {
  .about-modules {

    &__about {
      padding-bottom: 30px;
    }

    &__wrapper {
      padding: 30px 15px;
      display: flex;
      flex-wrap: wrap;
    }

    &__text {
      width: 100%;
      padding-right: 0px;
    }

    &__title {
      font-size: 26px;
    }


    &__img {
      width: 100%;

      &-hexagon {
        width: 100px;
        height: 120px;
        top: 0px;
        left: 0px;

        & > img, & > svg {
          width: 50px !important;
          height: 50px !important;
          max-width: 50px !important;
          max-height: 50px !important;
        }
      }
    }
  }
}