.award{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  &__subtitle{
    font-size: 16px;
    font-weight: 300;
    max-width: 230px;
    margin: 0 auto;
    text-align: center;
    z-index: 5;
    padding-top: 30px;
  }
  &__img img{
    transition: $transition4;
    z-index: 1;
    box-shadow: 0px 0px 15px 0px #AFABCE;
    &:hover{
      transform: scale(1.1);
    }
  }

}
@media screen and (max-width: 991px){
  .award{
    padding: 30px 0;
    &__subtitle{
      font-size: 14px;
      padding-top: 20px;
    }

  }
}
@media screen and (max-width: 767px){
  .award{
    padding: 20px 0;
    &__subtitle{
      font-size: 12px;
      padding-top: 15px;
    }

  }
}
@media screen and (max-width: 575px){
  .award{
    padding: 10px 0;
    &__subtitle{
      padding-top: 10px;
    }

  }
}