.board-contacts{
justify-content: space-between;
  padding: 0;
  &__item{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;

  }
  &__title{
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 20px;
  }
  &__link{
    font-weight: 600;
    font-size: 24px;
    transition: $transition4;
    &:hover{
      color: $orange;
    }
  }
  &__description{
    font-size: 14px;
  }
}
@media screen and (max-width: 1630px){
  .board-contacts{
    &__item{
    }
    &__title{
      font-size: calc(14px + (18 - 14) * ((100vw - 991px) / (1630 - 991)));
      padding-bottom: calc(10px + (20 - 10) * ((100vw - 991px) / (1630 - 991)));
    }
    &__link{
      font-size: calc(16px + (24 - 16) * ((100vw - 991px) / (1630 - 991)));

    }
    &__description{
      font-size: calc(12px + (14 - 12) * ((100vw - 991px) / (1630 - 991)));
    }
  }
}
@media screen and (max-width: 991px){
  .board-contacts{
    &__item{
      padding-left: 7%;
    }
    &__title{
      font-size: 14px;
      padding-bottom: 10px;
    }
    &__link{
      font-size: 16px;

    }
    &__description{
      font-size: 12px;
    }
  }
}
@media screen and (max-width: 767px){
  .board-contacts{
    justify-content: center;
    &__item{
      padding-left: 0;
      width: 50%;
      justify-content: center;
      align-items: center;
      padding-bottom: 20px;
      max-width: 320px;
      text-align: center;
    }
    &__title{
      font-size: 14px;
    }
    &__link{
      font-size: 14px;

    }
    &__description{
      font-size: 12px;
    }
  }
}
@media screen and (max-width: 575px){
  .board-contacts{
    &__item{
      width: 100%;
    }
    &__title{
    }
    &__link{

    }
    &__description{
    }
  }
}