.characteristic {
  position: relative;
  width: auto;
  height: 50px;
  background-color: #f7f7f7;
  margin: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  transition: $transition4;
  font-size: 14px;
  font-weight: 300;

  &.active {
    background-color: $orange;
    font-weight: 600;
    color: #fff;
    &:before {
      border-left: 10px solid $orange;
    }

    &:after {
      border-right: 10px solid $orange;
    }
  }

  &:hover {
    background-color: lighten($orange, 30%);
    &:before {
      border-left: 10px solid lighten($orange, 30%);
    }

    &:after {
      border-right: 10px solid lighten($orange, 30%);
    }
  }

  &:before,
  &:after {
    transition: $transition4;
    content: "";
    position: absolute;
    width: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
  }

  &:before {
    left: 100%;
    border-left: 10px solid #f7f7f7;
  }

  &:after {
    right: 100%;
    width: 0;
    border-right: 10px solid #f7f7f7;
  }
}
@media screen and (max-width: 767px){
  .characteristic {
    font-size: 12px;
  }
}