#footer-menu1, #footer-menu2, #footer-menu3, #footer-menu4, #footer-menu5 {
  & > li {
    padding-bottom: 15px;
    transition: $transition4;

    &:active {
      transform: scale(1.05);
    }

    & > a {
      font-size: 12px;
      font-weight: 400;
      transition: $transition4;

      & span {
        font-weight: 600;
        font-size: 14px;

        &:hover {
          color: $orange;
        }

        &:active {
          transform: scale(1.05);
        }
      }

      &:hover {
        color: $orange;
      }

    }
  }
}

.footer-content {
  max-width: 1630px;
  margin: 0 auto;
  padding: 40px 0 30px;
  border-bottom: 1px solid #d8d8d8;
  display: flex;

  &__item {
    padding-right: 50px;
    min-width: 300px;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 32px;

  }

  &__elemlist {
    padding-bottom: 15px;
    transition: $transition4;
    & > span{
      display: block;
    }

    &:active {
      transform: scale(1.05);
    }
  }

  &__link {
    font-size: 12px;
    font-weight: 400;
    transition: $transition4;

    & span {
      font-weight: 600;
      font-size: 14px;

      &:hover {
        color: $orange;
      }

      &:active {
        transform: scale(1.05);
      }
    }

    &:hover {
      color: $orange;
    }

  }
}

@media screen and (max-width: 1600px) {
  .footer-content {
    flex-wrap: wrap;

    &__item {
      width: 20%;
      min-width: auto;
    }
  }
}

@media screen and (max-width: 1280px) {

  .footer-content {
    &__title {
      font-size: 14px;
    }

    &__item {
      padding-right: 15px;
    }

    &__link {
      font-size: 10px;

      & span {
        font-size: 12px;
      }
    }

    &__elemlist {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 991px) {
  #footer-menu1, #footer-menu2, #footer-menu3, #footer-menu4, #footer-menu5 {
    & > li {
      padding-bottom: 8px;
    }
  }

  .footer-content {
    &__item {
      width: 30%;

    }

    &__title {
      padding-bottom: 10px;
    }

    &__elemlist {
      padding-bottom: 8px;

      &:last-child {
        padding-bottom: 20px;
      }
    }
  }

}

@media screen and (max-width: 767px) {
  .footer-content {
    &__item {
      width: 50%;

    }

  }
}

@media screen and(max-width: 575px) {
  .footer-content {
    &__list {
      display: none;

      &.active {
        display: block;
      }
    }

    &__item {
      width: 100%;

    }

    &__title {
      position: relative;
      cursor: pointer;

      &::after {
        content: url("../img/ularrow.svg");
        position: absolute;
        top: -3px;
        right: 10%;
        transform: rotate(180deg);
      }

      &.active {
        &::after {
          content: url("../img/ularrow.svg");
          position: absolute;
          top: 0px;
          right: 10%;
          transform: rotate(0deg);
        }
      }
    }

    &__item {
      &:last-child {
        padding-bottom: 30px;
      }
    }
  }
}

@media screen and(max-width: 360px) {
  .footer-content {

    &__title {
      &::after {
        right: 0;
      }

      &.active {
        &::after {
          right: 0;
        }
      }
    }

  }
}
