.footer-header{
  max-width: 1630px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #d8d8d8;

}
@media screen and (max-width: 767px) {
  .footer-header{
    justify-content: center;
    flex-wrap: wrap;
  }
}