.footer-social{
  display: flex;
  &__title{
    font-size: 14px;
    font-weight: 600;
  }
  &__item{
    margin-left: 30px;
    transition: $transition4;
    cursor: pointer;
    &:hover{
      transform: scale(1.1);
      & svg path{
        fill: $orange;
        &.socialwhite{
          fill: #fafafa;
        }
      }
    }
    &:active{
     transform: scale(.9);
    }
  }
}
@media screen and (max-width: 767px){
  .footer-social{
    width: 100%;
    justify-content: space-between;
    padding-top: 30px;
    &__item{
      margin-left: 0;
    }
  }
}
@media screen and (max-width: 575px){
  .footer-social{
    &__title{
      display: none;
    }

  }
}