.footer-footer {
  max-width: 1630px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;

  &__list {
    display: flex;
  }

  &__elemlist {
    transition: $transition4;
    padding-right: 35px;

    &:active {
      transform: scale(1.05);
    }
  }

  &__link {
    transition: $transition4;
    font-size: 12px;

    &:hover {
      color: $orange;
    }
  }
  &__logo{
    transition: $transition4;
    cursor: pointer;
    & path{
      transition: $transition4;
    }
    &:hover{
      & path{
        fill:$orange;
      }
    }
    &:active {
      & path{
        transform: scale(.9);
      }
    }
  }
}
@media screen and (max-width: 991px){
  .footer-footer{
    flex-wrap: wrap;

    &__copy{
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 15px 0;
    }
    &__list{
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 15px 0;
    }
    &__logo{
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 15px 0;
    }
  }
}
@media screen and (max-width: 767px){
  .footer-footer{
    padding-top: 15px;
    &__list {
      justify-content: space-between;
      flex-wrap: wrap;

    }

    &__elemlist {
      padding: 0 10px;
    }


  }

}