.footer-header{
  max-width: 1630px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #d8d8d8;

}
@media screen and (max-width: 767px) {
  .footer-header{
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 575px) {
  .footer-header{
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    margin-left: -15px;
    margin-top: -15px;
    padding: 15px;
    width: calc(100% + 30px);
    height: calc(100% + 15px);
  }
}