.header-info{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 75px;
  &__top{
    padding-left: 25px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    align-items: center;
  }
  &__bottom{
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 1630px){
  .header-info{
    padding-left: 25px;
    &__top{
      padding-left: 10px;
      font-size: 11px;
    }
  }

}
@media screen and (max-width: 1440px){
  .header-info{
    &__top{
      font-size: 11px;
    }
  }
}
@media screen and (max-width: 1240px){
  .header-info{
    padding-left: 10px;
    &__top{
      font-size: 10px;
    }
  }
}
@media screen and (max-width: 1080px){
  .header-info{
    padding-left: 10px;
    &__bottom{
      padding-top: 5px;
    }
    &__top{
      font-size: 8px;
    }
  }
}
@media screen and (max-width: 991px){
  .header-info{
    width: auto;
display: inline-block;
&__bottom{
  padding-bottom: 0;
  justify-content: flex-end;
}
    &__top{
      display: none;
    }
  }
}