.information-wrapper{
  max-width: 1630px;
  margin: 0 auto;
  display: flex;
  padding: 42px 26px 20px;
z-index: 10;
  width: 100%;
}
@media screen and (max-width: 1630px){
  .information-wrapper{
    padding: 42px 15px 20px;
  }
}
@media screen and (max-width: 991px){
  .information-wrapper{
    flex-wrap: wrap;
    padding: 15px;
  }
}
