.information-img {
  position: relative;
  display: flex;
  align-items: center;
  width: 40%;

  &__wrapper {
    position: relative;
  }

  &__img {
    z-index: 10;
    clip-path: polygon(50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
  }

  &__top {
    display: flex;
    position: absolute;
    bottom: 25px;
    right: 65px;
  }

  & svg {
    z-index: 10;
  }

}

@media screen and (max-width: 1630px) {
  .information-img {
    width: 40%;

    &__top {
      right: calc((-50px) + (65 + 50) * ((100vw - 992px) / (1630 - 992)));
    }

    & svg {
      height: calc(250px + (528 - 250) * ((100vw - 992px) / (1630 - 992)));
      z-index: 10;
    }
  }
}

@media screen and (max-width: 1440px) {
  .information-img {
    width: 39%;


    &__top {
      bottom: 100px;


    }
  }
}

@media screen and (max-width: 1240px) {
  .information-img {
    width: 37%;

  }
}

@media screen and (max-width: 991px) {
  .information-img {
    width: 50%;

  }
}

@media screen and (max-width: 767px) {
  .information-img {
    width: 100%;
    order: 3;
    &__img{
      margin: 0 auto;
    }
  }
}