.information-modules {
  width: 340px;
}

@media screen and (max-width: 1630px) {
  .information-modules {
    width: 22%;
  }
}


@media screen and (max-width: 1240px) {
  .information-modules {
    width: 22%;
  }
}
@media screen and (max-width: 991px) {
  .information-modules {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .information-modules {
    order: 5;
  }
}


