.introduction{
  max-width: 1630px;
  margin: 0 auto;
  padding: 30px;
&__title{
  padding: 40px 0 110px;
}
}
@media screen and (max-width: 991px){
  .introduction{
    padding: 15px;
    &__title{
      padding-bottom: 40px!important;
    }
  }
}
@media screen and (max-width: 767px){
  .introduction{
    &__title{
      padding-top: 30px;
    }
  }
}
@media screen and (max-width:575px){
  .introduction{
    &__title{
      padding-top: 20px;
    }
  }
}