.location{
  display: flex;
  justify-content: space-between;

  &__item{
    padding: 10px 55px 10px 12px;
    display: flex;
    align-items: center;
    &-text{
      padding-left: 11px;
    }
    &:last-child{
      padding: 10px 0 10px 12px;
    }
  }
}
@media screen and (max-width: 1630px){
  .location{
    &__item{
      padding: 10px 20px 10px 12px;
    }

  }

}
@media screen and (max-width: 1240px){
  .location{
    &__item{
      padding: 10px 15px 10px 10px;
    }

  }

}
@media screen and (max-width: 1080px){
  .location{
    &__item{
      &-text{
        padding-left: 5px;
      }
    }
  }
}
@media screen and (max-width: 991px){
  .location{
    &__item{
      & svg {
        & path{
          fill: #fff;
        }
      }
      &-text{
        padding-left: 15px;
      }
    }
  }
}