.logo{
  cursor: pointer;
  transition: $transition4;

  &:hover{
    transform: scale(1.1);
  }
}
@media screen and (max-width: 1440px){
  .logo{
    max-width: 160px;
  }

}
@media screen and (max-width: 1240px){
  .logo{
    max-width: 150px;
  }
}
@media screen and (max-width: 991px){
  .logo{
    max-width: 130px;
  }
}
@media screen and (max-width: 767px){
  .logo{
    max-width: 120px;
  }
}
@media screen and (max-width: 575px){
  .logo{
    max-width: 110px;
  }
}