.menu{
  display: flex;
  justify-content: space-between;
  &__item{

  }
  &__link{

    font-size: 16px;
    font-weight: 500;
    padding: 10.5px 25px;
    transition: $transition4;
    border-radius: $radiusBtn;
  &:hover{
    background-color: $orange;
    color: #fff;
  }

  }
}
@media screen and (max-width: 1440px){
  .menu{
    &__link{
      font-size: 14px;
      padding: 10.5px 18px;
    }
  }
}
@media screen and (max-width: 1240px){
  .menu{
    &__link{
      font-size: 13px;
      padding: 10px 15px;
    }
  }
}
@media screen and (max-width: 1080px){
  .menu{
    &__link{
      font-size: 12px;
      padding: 8px 12px;
    }
  }
}