.modules {
  display: flex;
  flex-wrap: wrap;
  padding-top: 45px;
  &__btn{
    text-align: center;
    display: block;
    font-weight: 700;
    width: 100%;
    padding: 14px;
    display: flex;
    max-width: 345px;
    margin: 0 auto;
    font-size: 18px;
    justify-content: center;
  }
  &__subtitle{
    max-width: 620px;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1630px) {
  .modules {
    padding-top: calc(0px + (45 - 0) * ((100vw - 992px) / (1630 - 992)));
    &__btn{
      font-size: calc(10px + (18 - 10) * ((100vw - 992px) / (1630 - 992)));
    }
  }
}
@media screen and (max-width: 991px) {
  .modules {
    padding-top: 15px;
    &__btn{
      font-size: 12px;
    }
  }
}
@media screen and (max-width: 767px) {
  .modules {
    &__subtitle{
      font-size: 12px;
      text-align: center;
      margin: 0 auto;
    }
  }
}

