.module {
  padding-bottom: 25px;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  cursor: pointer;

  &__img {

    position: relative;
    width: 140px;
    height: 80px;
    background-color: #f7f7f7;
    margin: 40.41px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $transition4;

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 0;
      border-left: 70px solid transparent;
      border-right: 70px solid transparent;
      transition: $transition4;

    }

    &:before {
      bottom: 100%;
      border-bottom: 40.41px solid #f7f7f7;
    }

    &:after {
      top: 100%;
      width: 0;
      border-top: 40.41px solid #f7f7f7;
    }

    & path {
      transition: $transition4;
    }

    &:hover {
      background-color: $orange;

      &::before {
        border-bottom: 40.41px solid $orange;
      }

      &::after {
        border-top: 40.41px solid $orange;
      }

      & path {
        fill: #fff;
      }
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding: 5px 15px;
  }
}


@media screen and (max-width: 1440px) {
  .module {
    padding-bottom: 25px;

    &__img {
      width: calc(80px + (140 - 80) * ((100vw - 992px) / (1440 - 992)));
      height: calc(40px + (80 - 40) * ((100vw - 992px) / (1440 - 992)));
      margin: calc(20px + (40 - 20) * ((100vw - 992px) / (1440 - 992)));

      &:before,
      &:after {
        border-left: calc(40px + (70 - 40) * ((100vw - 992px) / (1440 - 992))) solid transparent;
        border-right: calc(40px + (70 - 40) * ((100vw - 992px) / (1440 - 992))) solid transparent;

      }

      &:before {
        border-bottom: calc(25px + (40 - 25) * ((100vw - 992px) / (1440 - 992))) solid #f7f7f7;
      }

      &:after {
        border-top: calc(25px + (40 - 25) * ((100vw - 992px) / (1440 - 992))) solid #f7f7f7;
      }

      & svg {
      }

      & svg {
        width: calc(30px + (60 - 30) * ((100vw - 992px) / (1440 - 992)));
        height: calc(30px + (60 - 30) * ((100vw - 992px) / (1440 - 992)));
      }

      &:hover {

        &::before {
          border-bottom: calc(25px + (40 - 25) * ((100vw - 992px) / (1440 - 992))) solid $orange;
        }

        &::after {
          border-top: calc(25px + (40 - 25) * ((100vw - 992px) / (1440 - 992))) solid $orange;
        }

        & path {
          fill: #fff;
        }
      }
    }
    &__text {
      font-size: calc(11px + (14 - 11) * ((100vw - 992px) / (1630 - 992)));
      font-weight: 300;
      text-align: center;
      padding: 5px 15px;
    }

  }
}

@media screen and (max-width: 991px) {
  .module {
    padding-bottom: 25px;
    width: 33%;

    &__img {
      width: 140px;
      height: 80px;
      margin: 40.41px 0;
      & svg {
        width: 60px;
        height: 60px;
      }
      &:before,
      &:after {
        border-left: 70px solid transparent;
        border-right: 70px solid transparent;
      }

      &:before {
        border-bottom: 40.41px solid #f7f7f7;
      }

      &:after {
        border-top: 40.41px solid #f7f7f7;
      }

      &:hover {

        &::before {
          border-bottom: 40.41px solid $orange;
        }

        &::after {
          border-top: 40.41px solid $orange;
        }

      }
    }

    &__text {
      font-size: 14px;
      font-weight: 300;
      text-align: center;
      padding: 5px 15px;
    }
  }
}
@media screen and (max-width: 767px){
  .module{
    width: 50%;
  }
}

