.modules {
  display: flex;
  flex-wrap: wrap;
  padding-top: 45px;
  &__btn{
    text-align: center;
    display: block;
    font-weight: 700;
    width: 100%;
    padding: 14px 46px;
    max-width: 345px;
    margin: 0 auto;
  }
}