.nav-contacts{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__number{
    font-size: 18px;
    font-weight: 700;
    padding-right: 40px;
    transition: $transition4;
    &:hover{
      color: $orange;
      transform: scale(1.1);
    }
  }
  &__call{
    font-size: 12px;
    font-weight: 800;
    padding: 10.5px 20px;

  }
  &__social{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  &__link{
    padding-left: 26px;
    transition: $transition4;
    &:hover{
      transform: scale(1.1);
    }
  }

}