.pagination{
  display: flex;
  justify-content: center;
  &__start, &__end{
    font-size: 14px;
    font-weight: 600;
    padding: 0 50px;
    display: flex;
    align-items: center;
  }
  &__list{
    display: flex;
    justify-content: center;
  }
  &__item{
    padding-right: 20px;
    cursor: pointer;
    transition: $transition4;
    &:hover,&:focus,&:active{
      transform: scale(1.1);
    }
    &:last-child{
      padding-right: 0;
    }
  }
  &__link{
    transition: $transition4;
    &:focus,&:active{
      font-weight: 600;
    }
  }
}
.nav-links{
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-numbers{
  padding-right: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  &.current{
    font-weight: 600;
    font-size: 18px;
  }
  &.next,&.prev{
    font-size: 14px;
    font-weight: 600;
    padding-right: 20px;
  }
}
@media (max-width: 991px){
  .pagination {
    margin-bottom: 30px;
    &__start, &__end {
      font-size: 12px;
      padding: 0 15px;
    }

    &__list {
    }

    &__item {
      padding-right: 15px;

      &:last-child {
        padding-right: 0;
      }
    }

    &__link {
      font-size: 12px;
      &-active {
        font-size: 14px;
      }
    }
  }
  .nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .page-numbers{
    padding-right: 12px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 300;
    &.current{
      font-weight: 600;
      font-size: 14px;
    }
    &.next,&.prev{
      font-size: 10px;
      font-weight: 600;
      padding-right: 12px;
    }
  }
}