input::-webkit-input-placeholder {
  text-align:center;
}

input:-moz-placeholder { /* Firefox 18- */
  text-align:center;
}

input::-moz-placeholder {  /* Firefox 19+ */
  text-align:center;
}

input:-ms-input-placeholder {
  text-align:center;
}