.projects-slider {
  width: 60%;
  padding-top: 100px;
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 1280px){
  .projects-slider {
    width: 70%;
    padding-top: 50px;

  }
}
@media screen and (max-width: 991px){
  .projects-slider {
    width: 55%;
    padding-top: 0px;

  }
}
@media screen and (max-width: 767px){
  .projects-slider {
    width: 100%;
    padding-top: 25px;

  }
}