.query{
  display: flex;
  max-width: 1630px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 50px 100px 60px;
  align-items: center;
  background-image: url("../img/requiredbg.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 1630px) {
  .query{
    padding: calc(25px + (50 - 25) * ((100vw - 991px) / (1630 - 991))) calc(40px + (100 - 40) * ((100vw - 991px) / (1630 - 991))) calc(30px + (60 - 30) * ((100vw - 991px) / (1630 - 991)));
    background-position: 110% center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media screen and (max-width: 991px) {
  .query{
    padding: 25px 15px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .query{
    padding: 25px 0;
    flex-wrap: wrap;
    background: none;
  }
}