.query{
  display: flex;
  max-width: 1630px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 50px 100px 60px;
  align-items: center;
  background-image: url("../img/requiredbg.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}