.query-text{
  width: 35%;
  &__title{
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 30px;
  }
  &__subtitle{
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
  }
}
@media screen and (max-width: 1630px) {
  .query-text{
    width: 35%;
    &__title{
      font-size: calc(26px + (40 - 26) * ((100vw - 991px) / (1630 - 991)));
    }
    &__subtitle{
      font-size: calc(12px + (16 - 12) * ((100vw - 991px) / (1630 - 991)));
      line-height: calc(15px + (30 - 15) * ((100vw - 991px) / (1630 - 991)));
    }

  }
}
@media screen and (max-width: 991px) {
  .query-text{
    width: 60%;
    &__title{
      font-size: 18px;
    }
    &__subtitle{
      font-size: 12px;
      line-height: 12px;
    }

  }
}
@media screen and (max-width: 767px) {
  .query-text{
    order: 1;
    &__title{
      font-size: 18px;
    }
    &__subtitle{
      font-size: 12px;
      line-height: 12px;
    }

  }
}