.query-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  padding: 0 15px;
  background-color: transparent;
  z-index: 10;
&__block{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
  &__name {
    width: 48%;
  }

  &__tel {
    width: 48%;
  }

  &__quest {
    width: 100%;
    height: 70px;
    margin: 20px 0;
  }

  &__submit {
    width: 48%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    padding: 12.5px 5px;
    min-width: max-content;
  }

  &__agreement {
    width: 52%;
  }

  &__footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1630px) {
  .query-form {
    width: calc(50% + (35 - 50) * ((100vw - 991px) / (1630 - 991)));
    &__agreement{
      width: 52%;
    }
    &__submit{
      width: 48%;
      text-align: center;
    }
  }
}

@media screen and (max-width: 991px) {
  .query-form {
    width: 60%;
    padding: 0;
    order: 3;

  }
}

@media screen and (max-width: 767px) {
  .query-form {
    padding: 0 15px;
    width: 100%;
    order: 3;
  }
}

@media screen and (max-width: 575px) {
  .query-form {
    &__name {
      width: 100%;
      margin-bottom: 20px;
    }

    &__tel {
      width: 100%;
    }

    &__footer {
      flex-wrap: wrap;
    }

    &__submit {
      width: 100%;
    }

    &__agreement {
      width: 80%;
      margin: 15px auto;
      text-align: center;
    }

  }
}