.request {
  max-width: 1630px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 80px 110px 125px;

  &__img {
    display: flex;
    align-items: center;
    width: 55%;
  }

  &__text {
    width: 45%;
  }

  &__hexagon {
    position: relative;
    width: 260px;
    height: 150px;
    background-color: $yellow;
    margin: 75px 0;
    display: flex;
    align-items: center;

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 0;
      border-left: 130px solid transparent;
      border-right: 130px solid transparent;
    }

    &:before {
      bottom: 99%;
      border-bottom: 75px solid $yellow;
    }

    &:after {
      top: 99%;
      width: 0;
      left: 0;
      border-top: 75px solid $yellow;
    }
  }

  &__link {
    padding: 12px 20px;
    & svg {
      display: none;
    }
  }
}

@media screen and (max-width: 1630px) {
  .request {
    &__hexagon {
      margin: calc(37px + (75 - 37) * ((100vw - 991px) / (1630 - 991)));
    }
  }
}
@media screen and (max-width: 991px) {
  .request {
    padding: 80px 30px;
    &__hexagon {
      margin: 37px;
    }
  }
}
@media screen and (max-width: 767px) {
  .request {
    justify-content: center;
    &__img{
      display: none;
    }
    &__text{
      width: 100%;
      display: flex;
      justify-content: center;
    }
    &__link{
      height: 65px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 20;
      & svg {
        display: block;
        margin-right: 20px;
      }
    }
  }
}

