.stages-list {
  width: 50%;
  list-style: decimal;

  &__item {
    padding-bottom: 20px;
  }
&__faq{
}
  &__link {
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: $transition4;
    width: 100%;
    &:hover {
      & .stages-list__hexagon {
        background-color: lighten($yellow, 25%);

        &:before {
          border-bottom: 15px solid lighten($yellow, 25%);
        }

        &:after {
          border-top: 15px solid lighten($yellow, 25%);
        }
      }
    }

    &-active {
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: 700;
    }
  }

  &__hexagon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 52px;
    height: 30px;
    background-color: #f7f7f7;
    margin: 15.01px 30px 15px 0px;
    transition: $transition4;


    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 0;
      border-left: 26px solid transparent;
      border-right: 26px solid transparent;
      transition: $transition4;
    }

    &:before {
      bottom: 100%;
      border-bottom: 15px solid #f7f7f7;
    }

    &:after {
      top: 100%;
      width: 0;
      border-top: 15px solid #f7f7f7;
    }
  }

  &__hexagon-active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 52px;
    height: 30px;
    margin: 15.01px 30px 15px 0px;
    background-color: $yellow;

    &:before,
    &:after {
      transition: $transition4;
      content: "";
      position: absolute;
      width: 0;
      border-left: 26px solid transparent;
      border-right: 26px solid transparent;
    }

    &:before {
      bottom: 100%;
      border-bottom: 15px solid $yellow;
    }

    &:after {
      top: 100%;
      width: 0;
      border-top: 15px solid $yellow;
    }
  }
}

@media screen and (max-width: 1630px) {
  .stages-list {
    width: calc(45% + (50 - 45) * ((100vw - 991px) / (1630 - 991)));

    &__item {
      padding-bottom: 10px;
    }

    &__link {
      font-size: calc(14px + (18 - 14) * ((100vw - 991px) / (1630 - 991)));
    }

    padding-top: 20px;
    padding-bottom: calc(40px + (50 - 10) * ((100vw - 991px) / (1630 - 991)));

    &__title {
      padding-bottom: calc(50px + (100 - 50) * ((100vw - 991px) / (1630 - 991)));
    }
  }
}

@media screen and (max-width: 991px) {
  .stages-list {
    width: 45%;

    &__item {
      padding-bottom: 10px;
    }

    &__link {
      font-size: 14px;
    }


    padding-bottom: 40px;

    &__title {
      padding-bottom: 50px;
    }
  }
}
@media screen and (max-width: 991px) {
  .stages-list {
    width: 100%;
    padding-bottom: 40px;

    &__item {
      padding-bottom: 10px;
    }

    &__link {
      font-size: 14px;
    }


    &__title {
      padding-bottom: 50px;
    }
  }
}