.text2column{
  max-width: 1630px;
  padding: 60px 30px 100px;
  margin: 0 auto;
  &__block{
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    &.active{
      display: flex;
    }
  }
  &__title{
    max-width: 550px;
    margin: 0 auto;
  }
&__img{
  display: flex;
  justify-content: center;
  align-items: center;
}
  &__left,&__right{
    width: 47%;
    padding-bottom: 30px;
  }
  &__img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & > div{
      padding-bottom: 35px;
    }
  }

}
@media screen and (max-width: 1630px){
  .text2column{
    padding: calc(40px + (60 - 40) * ((100vw - 991px) / (1630 - 991))) calc(12px + (30 - 12) * ((100vw - 991px) / (1630 - 991))) calc(40px + (100 - 40) * ((100vw - 991px) / (1630 - 991)));



  }
}
@media screen and (max-width: 991px){
  .text2column{
    padding: 40px 15px;
  }
}
@media screen and (max-width: 767px){
  .text2column{
    padding: 30px 15px;
    flex-wrap: wrap;

    &__img{
      & svg, & img{
        width: 25%;
        height: 25%;
      }
    }
    &__left,&__right{
      width: 100%;
    }

  }
}