.title{
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 80px;
  &-left{
    font-weight: 700;
    font-size: 40px;
    text-align: left;
  }
}
@media screen and (max-width: 1630px){
  .title{
    font-size: calc(30px + (40 - 30) * ((100vw - 991px) / (1630 - 991)));
    padding-bottom: calc(40px + (80 - 40) * ((100vw - 991px) / (1630 - 991)));
    &-left{
      font-size: calc(30px + (40 - 30) * ((100vw - 991px) / (1630 - 991)));
    }
  }
}
@media screen and (max-width: 991px){
  .title{
    font-size: 30px;
    padding-bottom: 40px;
    &-left{
      font-size: 30px;
    }
  }
}
