.vacancy {
  background-color: #f7f7f7;
  padding: 10px 20px;
  border-radius: $radiusBtn;
  margin-bottom: 20px;
  font-weight: 300;
  transition: $transition4;
  cursor: pointer;
  position: relative;
&__description > p{
  padding-bottom: 15px;
}


&__price {
    font-size: 16px;
    width: 35%;
text-align: right;
    & span {
      font-weight: 700;
    }


  }

  &:hover {
    transform: scale(1.05);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &:hover {

      & .vacancy__img {
        background-color: lighten($yellow, 25%);

        &:before {
          border-left: 10px solid lighten($yellow, 25%);
        }

        &:after {
          border-right: 10px solid lighten($yellow, 25%);
        }
      }
    }
  }

  &__title {
    align-items: center;
    display: flex;
    width: 65%;
  }

  &__content {
    animation: showTabs 1s;
    display: none;
    padding: 20px 25px 20px 50px;
    font-size: 14px;
    font-weight: 300;
    &-active {
      display: block;
    }
  }

  &__submit {
    min-width: 180px;
    padding: 12.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 20px;
  }

  &__img {

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    width: auto;
    height: 30px;
    background-color: $yellow;
    margin-right: 35px;
    padding: 0 2px;
    cursor: pointer;
    transition: $transition4;

    & svg, & img {
      transform: rotate(180deg);

      & path {
        fill: white;

      }
    }

    &:hover {
      & path {

      }

      background-color: lighten($yellow, 25%);

      &:before {
        border-left: 10px solid lighten($yellow, 25%);
      }

      &:after {
        border-right: 10px solid lighten($yellow, 25%);
      }
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 0;
      top: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      transition: $transition4;
    }

    &:before {
      left: 100%;
      border-left: 10px solid $yellow;
    }

    &:after {
      right: 100%;
      width: 0;
      border-right: 10px solid $yellow;
    }

    &-active {
      background-color: rgba(0, 0, 0, .05);
      align-items: flex-end;

      &:before {
        border-left: 10px solid rgba(0, 0, 0, .05);
      }

      &:after {
        border-right: 10px solid rgba(0, 0, 0, .05);
      }

      & svg, & img {
        transform: rotate(360deg);

        & path {
          fill: black;

        }
      }
    }

  }
}

@media screen and (max-width: 991px) {
  .vacancy {


    &__price {
      font-size: 14px;
      width: 35%;




    }


    &__header {
      font-size: 14px;

    }

    &__title {
      font-size: 14px;

    }

    &__content {
      font-size: 12px;
      padding: 15px 15px 15px 50px;

    }

    &__submit {
      padding: 10px;
      font-size: 11px;
    }
  }
}
@media screen and (max-width: 767px) {
  .vacancy {

    &__price {
      font-size: 12px;
      width: 35%;

      & span {
        font-weight: 700;
      }


    }



    &__title {
      align-items: center;
      display: flex;
      font-size: 12px;
      width: 65%;
    }

    &__content {
      font-size: 12px;
      padding: 15px 15px 15px 50px;

    }

    &__submit {
      padding: 10px;
      font-size: 11px;
    }
  }
}
@media screen and (max-width: 767px) {
  .vacancy {


    &__img{
      display: none;
    }


    &__content {

      padding:  15px 15px 15px 0;

    }


  }
}