.vacancy {
  background-color: #f7f7f7;
  padding: 10px 20px;
  border-radius: $radiusBtn;
  margin-bottom: 20px;
  font-weight: 300;
  transition: $transition4;
  cursor: pointer;

  &__price {
    font-size: 16px;

    & span {
      font-weight: 700;
    }


  }

  &:hover {
    transform: scale(1.05);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;

    &:hover {

      & .vacancy__img {
        background-color: lighten($yellow, 25%);

        &:before {
          border-left: 10px solid lighten($yellow, 25%);
        }

        &:after {
          border-right: 10px solid lighten($yellow, 25%);
        }
      }
    }
  }

  &__title {
    align-items: center;
    display: flex;
  }

  &__content {
    display: none;
    padding: 20px 25px 20px 50px;

    &-active {
      display: block;
    }
  }

  &__submit {
    min-width: 180px;
    padding: 12.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 20px;
  }

  &__img {

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    width: auto;
    height: 30px;
    background-color: $yellow;
    margin-right: 35px;
    padding: 2px;
    cursor: pointer;
    transition: $transition4;


    &:hover {
      & path {

      }

      background-color: lighten($yellow, 25%);

      &:before {
        border-left: 10px solid lighten($yellow, 25%);
      }

      &:after {
        border-right: 10px solid lighten($yellow, 25%);
      }
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 0;
      top: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      transition: $transition4;
    }

    &:before {
      left: 100%;
      border-left: 10px solid $yellow;
    }

    &:after {
      right: 100%;
      width: 0;
      border-right: 10px solid $yellow;
    }

    &-active {
      background-color: rgba(0, 0, 0, .05);
      align-items: flex-end;

      &:before {
        border-left: 10px solid rgba(0, 0, 0, .05);
      }

      &:after {
        border-right: 10px solid rgba(0, 0, 0, .05);
      }
    }

  }
}