.wrapper{
  max-width: 1630px;
  padding: 80px 30px 100px;
  margin: 0 auto;
}
@media screen and (max-width: 1630px){
  .wrapper{
    max-width: 1630px;
    padding: calc(40px + (80 - 40) * ((100vw - 991px) / (1630 - 991))) calc(15px + (30 - 15) * ((100vw - 991px) / (1630 - 991))) calc(40px + (100 - 40) * ((100vw - 991px) / (1630 - 991)));
    margin: 0 auto;
  }
}
@media screen and (max-width: 991px){
  .wrapper{
    padding: 40px 15px;
  }
}
@media screen and (max-width: 767px){
  .wrapper{
    padding: 30px 15px;
  }
}